@media screen and (max-width: 600px) {

    .heading-font {
        font-family: "Yeseva_One";
        font-size: 4rem !important;
    }

    .sub-heading {
        font-size: 1rem;
    }

    .p-font {
        font-family: 'Josefin_Sans';
        font-size: 1.2rem !important;
        margin-top: 2rem;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .heading-element {
        font-family: "Yeseva_One";
        font-size: 4.4rem !important;
    }

    .subtitle-element {
        font-size: 0.8rem;
        font-family: 'Josefin_Sans';
    }

    .navbar-phone {
        /* Add styles if needed */
    }


}
