*{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  font-size: 1.1rem;
}
body{
  /*background: rgb(122,122,219);*/
  /*background: radial-gradient(circle, rgba(122,122,219,1) 0%, rgba(23,14,19,1) 100%);*/
  background: #0B001A;
}
/* App.css */
.MuiListItemButton-root.MuiListItemButton-colorNeutral.MuiListItemButton-variantPlain {
  color: white;
}
/* App.css */
.MuiChip-label.MuiChip-labelSm {
  color: red;
  background: white;
}
:root {
  --color-text-def: rgb(155, 31, 83);
  --color-background: #001C30;
  --color-Dark1: #176B87;
  --color-Med1: #64CCC5;
  --color-Light1: #DAFFFB;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


